# Compiled files
__pycache__/
*.pyc

# Packaging
build/
dist/
*.egg-info/

# Editor
.vscode

# Environments
venv/

# Package Data
**/nltk_data/
*.dat

# EDA
data/**/*.csv
data/**/*.txt

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/